* {
    font-family: 'Manrope', sans-serif !important;
  }
  
  a {
    text-decoration: none !important;
  }
  
  .my_profile-bg {
    width: 340px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }
  
  .my_profile_user-img {
    border-radius: 100%;
    margin-left: -64px;
  }
  
  .property_details-img {
    width: 100%;
  }
  
  @media screen and (max-width: 900px) {
    .my_profile-bg {
        width: 100%;
        border-radius: 15px;
    }
  
    .my_profile_user-img {
        margin-left: 0px;
        margin-top: -64px;
    }
  
    .property_details-img {
        width: 100%;
        height: auto;
    }
  }

  .googleBtn{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .signin_btn{
    background-color: #4285F4;
    color: #ffffff;
    border-width: 0px;
    border-radius: 4px;
    width: 86%;
    height: 32px;
    margin-bottom: 12px;
    cursor: pointer;
  }

  .input_field{
    background-color: #EAEAEA;
    color: #000000;
    border-radius: 6px;
    width: 100%;
    border-width: 0px;
    height: 30px;
    padding: 8px;
  }